<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Student mark predictor</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>
    <h1>Student marks predictor</h1>
<form action="{{url_for('predict')}}" method="post">
    <input type="text" name="study_hours" placeholder="eg:3hrs" value=" " required /><br><br>
    <button type="submit" class="btn btn-primary btn-block btn-large">predict</button>
</form>
<body>
<br>
<br>
{{prediction_text}}

</body>
</html>

